/*Over arching formatting*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EFEFEF;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 0.5em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5em;
    grid-template-rows: 5em auto 5em auto 5em auto 5em auto;
}

/*TOP MENU formatting*/

    header {
        position: fixed;
        z-index: 10;
        width:  100%;
        justify-content: center;
    }

    .logo{
        grid-column: 1 / 2;
        padding: 10px;
        font-family: 'Raleway', sans-serif;
        color: white;
        background-color: #383838;
    }

    .menu{
        background-color: #FFD6A3;
        font-family: 'Raleway', sans-serif;

        /* -1 means it will take all the available space  */
        grid-column: 5 / -1;
    }

    .menu-list{
        list-style: none;
        display: flex;
    }

    .menu-list_item{
        flex-grow: 1;
    }

    .menu-list_link{
        display: block;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #333;
    }

    .menu-list_link:hover{
        background-color: #FFB55C;
    }

/*OVERARCHING container formatting*/

    .container{
        display: flex;
        align-items: flex;
        grid-column: 2 / 9;
        width: 100%;
        margin: auto;
        box-shadow: 0 10px 6px -6px #383838;
        background-color: white;
    }

    .divider{
        display: block;
        grid-column: 1/10;
        width: 100%;
        background-color: #FFB55C;
    }

    .container-text{
        padding: 16px 32px;
    }

/*ABOUT section*/

    #to-about{
        grid-row: 1;
    }
    
    .container-one{
        grid-row: 2;
    }

    .container-video {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 35px;
        height: 0;
        max-height: 500px;
        max-width: 800px
        overflow: hidden;
    }

    .container-video iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }

/*BlOG section*/

    #to-blog{
        grid-row: 3;
    }

    .container-two{
        grid-row: 4;
    }

    .container-blog{
        display: grid;
        grid-gap: 1em;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

/*POST formatting*/

    .post-container {
            width: 100%;
            padding-bottom: 0.5em;
            background-color: white;
            border-bottom: 0.25em solid #FFB55C;
        }

    .post-header {
        display: inline-block;
        width: 100%;
        height: 4.5em;
        font-style: italic;
    }

    .post-date {
        display: inline-block;
        float: left;
        padding: 1em 0.5em 0 0.5em;
        margin: auto;
        color: white;
        height: 100%;
        width: 6em;
        background-color: #383838;
    }

    .post-header hr {
        display: inline-block;
        float: left;
        margin: auto;
        height: 100%;
        width: 3px;
        border: 3px solid #FFB55C;
    }

    .entry-title{
        display: inline-block;
        float: left;
        padding: 1em 0.5em 0 0.5em;
        margin: auto;
        height: 100%;
        color: #383838;
    }

/*CONTACT section*/

    #to-contact{
        grid-row: 5;
    }

    .container-three{
        grid-row: 6;
    }

/*FOOTER menu formating*/

    footer{
        grid-row: 8;
        margin-top: 48px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .footer-item{
        flex-grow: 1;
        padding: 32px 0;
        background-color: #FFB55C;
}

/* Typography formatting */

.stan {
    padding-bottom: 1.5em;
}

.quot {
    text-align: center;
    padding-bottom: 0.3em;
    font-style: italic
}

.ref {
    display: block;
    padding-bottom: 2em;
    text-align: right;
    font-style: italic;
  }